* {
  background-color: #200E3A;
  color: white;
  font-family: "Lucida Sans", sans-serif;
}

.project-card {
  width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-card-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.project-card-text {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
}
